@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 600px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@theme {
  --color-primary: #FF77E9; /* Define a custom color named 'primary' */
  --color-blue: #24a0ed; /* Define another custom color named 'secondary' */
}